.page-wrapper {
  margin-bottom: 120px;
}

.ui {
  &-btn {
    display: inline-block;
    font-family: Gilroy;
    background: #EE8F00;
    font-size: 16px;
    color: #fff;
    border: none;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.1s ease-out;
    text-align: center;
    padding: 0 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    position: relative;

    &:hover {
      color: #fff;
      background: #faae3b;
    }

    &.white {
      border: 1px solid #EE8F00;
      background: transparent;
      color: #1D1D1D;
      font-weight: 400;

      &:hover {
        border-color: #faae3b;
      }
    }

    &.border-black {
      border: 1px solid #1D1D1D;
      background: transparent;
      color: #1D1D1D;
      font-weight: 600;

      &:hover {
        border-color: #faae3b;
      }
    }
  }

  &-block {
    width: 100%;
    height: 496px;
    background: #FE6B6B;
    border-radius: 4px;
    max-width: 310px;

    &.ml-19 {
      margin-left: 19px;
    }

    &.right {
      margin-left: auto;
      margin-right: 0;
    }
  }

  &-another {
    .news-card {
      margin-bottom: 0;
    }

    &-title {
      font-weight: 600;
      font-size: 48px;
      margin-bottom: 40px;
      max-width: 1260px;
    }
  }

  &-breadcrumbs {
    margin-bottom: 50px;

    &-link {
      color: #1D1D1D;
      font-weight: 400;
      font-size: 16px;

      &::after {
        content: "";
        width: 26px;
        height: 1px;
        background: #000;
        margin-left: 16px;
        margin-right: 14px;
        display: inline-block;
        position: relative;
        top: -4px;
      }
    }

    span {
      // font-weight: 500;
      font-size: 16px;
      color: #B0C0D2;
    }
  }

  &-title {
    font-weight: 600;
    font-size: 64px;
    color: #1D1D1D;
    margin-right: 35px;

    span {
      font-weight: 400;
      font-size: 32px;
      color: #EE8F00;
    }
  }

  &-heading {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 38px;

    .ui-btn {
      max-width: 220px;
      width: 100%;
      // padding: 0 56px 0 32px;
      height: 56px;
      line-height: 56px;
      font-size: 18px;

      img {
        position: relative;
        left: 7px;
        top: 0;
      }
    }

    &-txt {
      align-items: center;
      width: 100%;

      &.hidden {
        display: none;
      }
    }
  }

  &-search {
    border: none;
    width: 72px;
    height: 72px;
    flex: 0 0 72px;
    background: transparent;
    border: 1px solid #DCE5EF;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: .1s ease-out;

    &:hover {
      border-color: #faae3b;

      svg {
        fill: #faae3b;
      }
    }

    &.hidden {
      display: none;
    }

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 28px;
      height: 28px;
    }
  }

  &-filter {
    margin-bottom: 72px;
    font-size: 0;

    span {
      color: #1D1D1D;
      font-weight: 600;
      margin-right: 35px;
      font-size: 18px;
    }

    a {
      margin-right: 35px;
      font-size: 18px;
      border-bottom: 1px solid #B0C0D2;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: #EE8F00;
        font-weight: 500;
        border-bottom: none;
      }

      &:hover {
        color: #EE8F00;
        border-bottom: none;
      }
    }

    button {
      margin-right: 35px;
      font-size: 18px;
      border: none;
      padding: 0;
      background-color: transparent;
      cursor: pointer;
      font-family: Gilroy;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: #EE8F00;
        font-weight: 500;
      }
    }
  }

  &-pagination {
    justify-content: space-between;
    align-items: center;
  }

  &-tags {
    font-size: 0;
  }

  &-field {
    margin-bottom: 22px;

    &.field-load {
      margin-bottom: 40px;
    }

    &-wrapper {
      margin-bottom: 24px;
    }

    .jq-selectbox__select {
      height: 40px !important;
      line-height: 20px !important;
      border-bottom: 1px solid  #B0C0D2;
    }

    .jq-selectbox {
      width: 100%;
      font-size: 18px;
      color: #BECCDC;

      &.changed {
        color: #1D1D1D;
      }
    }

    .jq-selectbox__trigger-arrow {
      position: absolute;
      right: 12px;
      top: 7px;
      background-image: url('../images/icon/close-select.svg');
      background-size: 12px;
      width: 12px;
      height: 12px;
      background-repeat: no-repeat;
    }

    .jq-selectbox__dropdown {
      width: 100%;
      background: #fff;
      padding: 20px 0;
      font-size: 18px;
      box-shadow: 0 0 10px rgba(0,0,0,.08);
      border-radius: 0px 0px 10px 10px;
    }

    .jq-selectbox li, .jq-select-multiple li {
      margin-bottom: 10px;
      padding: 0 20px;
      cursor: pointer;
      color: #1D1D1D;

      &:hover {
        color: #EE8F00;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .jq-selectbox__dropdown ul {
      margin-bottom: 0;
    }
  }

  &-tag {
    padding: 0 12px;
    background: #F2F8FE;
    height: 21px;
    line-height: 21px;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 4px;
    font-size: 14px;

    &.grey {
      background: #a5a8aa;
      color: #000;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-input {
    border: none;
    border-bottom: 1px solid #B0C0D2;
    background: transparent;
    padding-bottom: 17px;
    max-width: 370px;
    width: 100%;
    outline: none;
    font-size: 18px;
    color: #1D1D1D;
    font-family: Gilroy;

    &::placeholder {
      font-weight: 400;
      font-size: 18px;
      color: #BECCDC;
    }

    &-password {
      position: relative;

      svg {
        position: absolute;
        width: 20px;
        right: 0;
        top: 0;
        fill: #B0C0D2;
        cursor: pointer;

        &:hover {
          fill: #EE8F00;
        }
      }

      use {
        pointer-events: none;
      }
    }
  }
}

.ui-pgn {
  margin-bottom: 45px;

  .ui-btn-block {
    margin-bottom: 30px;
  }

  &-btns {
    font-size: 0;

    @media(max-width: 1024px) {
      text-align: center;
    }

    svg.sprite {
      display: block;
      max-width: 100%;
      max-height: 100%;
      transition: fill .3s,stroke .3s;
    }
  }

  &-more {
    font-size: 18px;
    align-items: center;

    .jq-selectbox {
      margin-left: 15px;
    }

    .jq-selectbox__select {
      width: 52px;
      border: 1px solid #C9CECF;
      border-radius: 6px;
      height: 52px;
      text-align: center;
      line-height: 52px;
    }

    .jq-selectbox__select-text {
      width: 100%;
      font-weight: 600;
    }

    .jq-selectbox__dropdown {
      width: 52px;
      text-align: center;
    }

    .jq-selectbox__dropdown ul {
      border: 1px solid #C9CECF;
      border-radius: 6px;
      padding: 5px 0;
      background: #fff;
    }

    .jq-selectbox li {
      margin-bottom: 4px;
      padding-bottom: 4px;
      border-bottom: 1px solid #C9CECF;

      &:last-child {
        border: none;
        margin-bottom: 0;
      }
    }
  }

  &-arrow {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 5px;
    text-align: center;
    margin: 0px 3px 5px;

    &.next {
      padding: 4px 7px;
      width: 8px;
      width: 24px;
      height: 24px;
    }

    &.last {
      padding: 10px;
      width: 48px;
      height: 48px;
    }

    &-icon {
      fill: #000;
    }
    &:hover {
      .ui-pgn-arrow-icon {
        fill: #2a4455;
      }
    }
  }

  &-btn {
    display: inline-block;
    vertical-align: middle;
    font-family: Gilroy;
    width: 52px;
    height: 52px;
    margin-right: 8px;
    line-height: 52px;
    border-radius: 5px;
    text-align: center;
    color: #000;
    margin: 0px 0 5px;
    font-size: 20px;
    font-weight: 600;
    transition: .1s ease-out;

    &:hover {
      color: #5e5c5c;
    }

    &.current {
      background: #1D1D1D;
      border-radius: 6px;
      color: #fff;
    }
  }

  &-dots {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    width: 40px;
    font-weight: 600;
    margin: 0px 3px 5px;
    font-size: 16px;
  }

  @media (max-width: 480px) {
    &-arrow {
      margin-left: 0;
      margin-right: 0;
      width: 24px;
      padding: 10px 4px;
    }
    &-btn,
    &-dots {
      margin-left: 2px;
      margin-right: 2px;
    }
  }
  @media (max-width: 420px) {
    &-arrow {
      width: 24px;
      height: 32px;
      padding: 5px 4px;
    }
    &-btn,
    &-dots {
      width: 32px;
      height: 32px;
      line-height: 32px;
    }
  }
  @media (max-width: 360px) {
    &-arrow {
      width: 32px;
      height: 32px;
      padding: 5px 4px;
    }
    &-btn,
    &-dots {
      display: none;

      &.current {
        display: inline-block;
      }
    }
    .ui-btn-block {
      margin-bottom: 10px;
    }
  }
}

.ui-checkbox {
  display: block;
  position: relative;
  padding-left: 28px;
  font-size: 16px;

  @media(max-width: 1024px) {
    font-size: 16px;
  }

  .error {
    display: block;
  }

  a {
    // font-size: 18px;
    color: #fff;
    border-bottom: 1px solid #fff;
  }

  &-inline {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
  }

  &-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
  }

  &-label {
    cursor: pointer;

    &::before {
      content: "";
      width: 18px;
      height: 18px;
      border: 1px solid #909090;
      background-color: transparent;
      border-radius: 4px;
      cursor: pointer;
      position: absolute;
      top: -2px;
      left: 0;
      z-index: 1;
      transition: .15s background-color, .15s border;
    }

    &::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 5px;
      z-index: 1;
      width: 8px;
      height: 4px;
      border-left: 2px solid #FFF;
      border-bottom: 2px solid #FFF;
      opacity: 0;
      transition: .15s opacity, .15s transform;
    }

    span {
      color: #fff;
      position: relative;
      top: -4px;
    }
  }

  &:hover {
    .ui-checkbox-input+.ui-checkbox-label {
      &:before {
        border-color:  #ee8f00;
      }
    }
  }

  &-input:checked {
    &+.ui-checkbox-label::before {
      border-color:  #ee8f00;
      background-color:  #ee8f00
    }

    &+.ui-checkbox-label::after {
      opacity: 1;
      transform: rotate(-45deg);
    }
  }
}

.ui-input-search {
  display: none;
  width: 100%;
  position: relative;
  margin-bottom: 12px;

  button {
    position: absolute;
    border: none;
    background: transparent;
    width: 33px;
    height: 33px;
    right: 28px;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    cursor: pointer;

    &:hover {
      svg {
        fill: #ee8f00;
      }
    }
  }

  &.active {
    display: block;
  }

  input {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 35px rgba(114, 142, 174, 0.2);
    border: none;
    font-size: 28px;
    color: #BECCDC;
    padding: 0 28px;
    height: 72px;

    &::placeholder {
      color: #BECCDC;
      font-size: 28px;
    }
  }
}

svg.sprite {
  display: block;
  max-width: 100%;
  max-height: 100%;
  transition: .1s ease-out;
}

.tab-content {
  display: none;

  &.active {
    display: block;
  }
}

.underline {
  background-image: url("../images/icon/dotted.png");
  background-position: 0 100%;
  background-size: 4px;
  background-repeat: repeat-x;
  padding-bottom: 2px;
}

.ui-label {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 20px;
  display: block;

  span {
    color: #EE8F00;
  }
}

span.error {
  color: #bc0000;
  margin-top: 5px;
  display: inline-block;
  font-size: 14px;
}

// .ui-input.error {
//   margin-bottom: 5px;
// }

// .ui-select.error {
//   margin-bottom: 5px;
// }