.order {
  &-table {
    margin-bottom: 120px;

    &-control {
      width: 100%;
      font-size: 0;
    }

    &-sum {
      max-width: 158px;
      width: 100%;
      text-align: center;
      margin-right: 20px;
      font-weight: 600;
      height: 48px;
      line-height: 48px;
      font-size: 18px;
      color: #1D1D1D;

      span {
        position: relative;
        padding-right: 32px;

        &::after {
          content: "";
          background-image: url(../images/icon/edit-staff.svg);
          background-repeat: no-repeat;
          background-size: 20px;
          width: 20px;
          height: 20px;
          position: absolute;
          right: 0;
          right: 0;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
    }

    &-caption {
      font-weight: 400;
      font-size: 18px;
      color: #1D1D1D;

      &.fs-16 {
        font-weight: 500;
        font-size: 16px;
      }

      &.fw-600 {
        font-weight: 600;
      }
    }

    &-square {
      font-weight: 600;
    }

    &-info {
      margin-bottom: 20px;
    }

    &-desc {
      font-weight: 400;
      font-size: 18px;
      color: #1D1D1D;

      &.fs-16 {
        font-size: 16px;
        font-weight: 400;
      }
    }

    &-data {
      margin-bottom: 48px;
    }

    &-tag {
      margin-bottom: 32px;
    }

    .ui-tag {
      font-size: 16px;
      height: 30px;
      line-height: 30px;
    }

    &-more {
      background: #E7EFFB;
      border: 1px solid #A9B8CF;
      border-radius: 4px;
      font-weight: 600;
      color: #1D1D1D;
      height: 48px;
      // padding: 0 28px;
      cursor: pointer;
      font-family: Gilroy;
      font-size: 16px;
      margin-right: 20px;
      display: inline-block;
      line-height: 48px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 118px;
      width: 100%;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }

      &.orange {
        background: #EE8F00;
        color: #fff;
        border-color: #EE8F00;
        max-width: 158px;
        width: 100%;
      }

      &:hover {
        background: #A9B8CF;
        color: #fff;
        border-color: #A9B8CF;
      }
    }

    &-detail {
      padding-left: 68px;
      padding-top: 36px;
      display: none;

      &.active {
        display: block;
      }
    }

    &-title {
      font-weight: 600;
      font-size: 16px;
      color: #1D1D1D;
      // text-align: center;

      .ui-tooltip {
        top: 3px;
        left: 0;
      }

      span {
        font-size: 12px;
        position: relative;
        top: -6px;
        left: -4px;
      }
    }

    &-head {
      padding-bottom: 28px;
      border-bottom: 1px solid #E7EFFB;
      margin-bottom: 32px;
      padding-left: 68px;
    }

    &-string {
      font-size: 18px;
      border: 1px solid #E7EFFB;
      border-bottom: none;

      &.active {
        border-color: #F2D3A4;
        border-bottom: 1px solid #F2D3A4;

        &:last-child {
          border-bottom: 1px solid #F2D3A4;
        }
      }

      &:last-child {
        border-bottom: 1px solid #E7EFFB;
      }
    }

    &-item {
      margin-bottom: 34px;

      .services-color-set {
        margin-left: 8px;
        position: relative;
        top: -5px;
      }

      .order-table-desc {
        margin-bottom: 22px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-cells {
      padding: 27px 0;
      border-bottom: none;
      align-items: center;

      &.active {
        border-bottom: 1px solid #E7EFFB;
        background: #FAFCFF;
      }
    }

    &-fav {
      position: relative;
      top: -16px;
      cursor: pointer;

      &:hover {
        svg {
          fill: #F2D3A4;
        }
      }

      svg {
        height: 22px;
        fill: #A9B8CF;
        pointer-events: none;
      }

      &.active {
        svg {
          fill: #EE8F00;
        }
      }
    }

    &-name {
      margin-bottom: 15px;
    }

    &-phone {
      color: #90A1BA;
    }



    &-num {
      font-weight: 500;
      margin-bottom: 15px;
    }

    &-total {
      font-weight: 600;
    }

    &-date {
      color: #90A1BA;
    }

    &-structure {
      font-weight: 500;
      color: #1D1D1D;
      margin-bottom: 15px;

      &.active {
        img {
          transform: rotate(-180deg);
        }
      }

      img {
        position: relative;
        left: 5px;
        transition: transform .2s;
      }

      span {
        cursor: pointer;

        &:hover {
          opacity: .8;
        }
      }
    }

    &-type {
      color: #90A1BA;
    }


  }

  &-search {
    position: relative;
    max-width: 477px;
    width: 100%;
    margin-right: 30px;

    button {
      position: absolute;
      right: 3px;
      top: 3px;
      height: 48px;
      padding: 0 20px;
      background: #E7EFFB;
      border-radius: 4px;
      border: none;
      font-size: 18px;
      color: #1D1D1D;
      font-family: Gilroy;
      cursor: pointer;
      font-weight: 400;
    }

    input {
      height: 54px;
      border: 1px solid #A9B8CF;
      border-radius: 6px;
      width: 100%;
      padding-left: 16px;

      &::placeholder {
        font-size: 18px;
        font-family: Gilroy;
        color: #BECCDC;
      }
    }
  }

  &-filter {
    position: relative;
    padding-left: 36px;
    margin-right: 33px;

    a {
      font-size: 18px;
    }

    img {
      position: absolute;
      left: 0;
      top: 4px;
    }
  }

  &-fav {
    .ui-checkbox-label::before {
      top: 0;
      width: 20px;
      height: 20px;
    }

    .ui-checkbox-label::after {
      top: 6px;
    }

    .ui-checkbox {
      font-size: 18px;
      line-height: 1;
    }
  }
}

.table-order-column-0 {
  max-width: 68px;
  flex: 0 0 68px;
}

.table-order-column-1 {
  max-width: 204px;
  flex: 0 0 204px;
}

.table-order-column-2 {
  max-width: 348px;
  flex: 0 0 348px;
}

.table-order-column-3 {
  max-width: 266px;
  flex: 0 0 266px;
}

.table-order-column-4 {
  max-width: 153px;
  flex: 0 0 153px;
}

.table-order-column-5 {
  max-width: 178px;
  flex: 0 0 178px;
}

.table-order-column-0 {
  max-width: 68px;
  flex: 0 0 68px;
}

.table-application-column-0 {
  max-width: 68px;
  flex: 0 0 68px;
}

.table-application-column-1 {
  max-width: 204px;
  flex: 0 0 204px;
}

.table-application-column-2 {
  max-width: 346px;
  flex: 0 0 346px;
}

.table-application-column-3 {
  max-width: 116px;
  flex: 0 0 116px;
}

.table-application-column-4 {
  max-width: 303px;
  flex: 0 0 303px;
}

.table-application-column-5 {
  max-width: 334px;
  flex: 0 0 334px;
}